{% extends "base.html" %}

{% block content %}
  <main>
    <div class="col-10">
      <div class="mt-2 d-flex justify-content-between p-3">
        <h1>TODO List</h1>
        <a class="mt-2" href="{% url 'manager:task-create' %}">
          <button type="button" class="btn btn-primary">Add task</button>
        </a>
      </div>

      {% if task_list %}
        {% for task in task_list %}
          <div class="d-flex justify-content-between align-items-center border mt-2 p-3 mb-2 w-100">
            <div>
              <h4>{{ task.content }}:
                {% if task.is_done == False %}
                  <span class="text-danger">Not done</span>
                {% else %}
                  <span class="text-success">Done</span>
                {% endif %}
              </h4>
              <p>Created: {{ task.created_at }}
                {% if task.deadline %}, <span class="text-danger">Deadline: {{ task.deadline }}</span>{% endif %}
              </p>
              <p>Tags:
                {% if task.tags.all %}
                  {% for tag in task.tags.all %}
                    <span class="text-primary">{{ tag.name }} </span>
                  {% endfor %}
                {% else %}
                  None
                {% endif %}
              </p>
              <p>
                <a class="btn btn-sm btn-secondary" href="{% url 'manager:task-update' pk=task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'manager:task-delete' pk=task.id %}">Delete</a>
              </p>
            </div>

            <div class="ms-3">
              <a href="{% url 'manager:task-toggle-status' pk=task.id %}">
                {% if task.is_done == True %}
                  <button type="button" class="btn btn-secondary">Undo</button>
                {% else %}
                  <button type="button" class="btn btn-success">Complete</button>
                {% endif %}
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No task yet.</p>
      {% endif %}
    </div>
  </main>
{% endblock %}
